<div class="container">
  <h1>Panel Principal</h1>
  <ul class="menuPrincipalContainer">
    <li class="itemMenuPrincipalContainer">
      <button
        mat-raised-button
        color="primary"
        routerLink="/formulario-encuesta"
      >
        Formulario de Encuesta
      </button>
    </li>
    <li class="itemMenuPrincipalContainer">
      <button
        mat-raised-button
        color="primary"
        routerLink="/consultar-respuestas"
      >
        Consultar respuestas
      </button>
    </li>
  </ul>
</div>
