<mat-toolbar color="primary">
  <button class="inicioButton" (click)="inicio()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="inicioButton" (click)="inicio()">Inicio</span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <mat-icon
    *ngIf="autenticado"
    aria-hidden="false"
    aria-label="icono logout"
    fontIcon="logout"
  ></mat-icon>
  <span class="inicioButton" *ngIf="autenticado" (click)="logout()"
    >Logout</span
  >
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
